<html>
  <head>
  	<style>
  	 body { 
  	 	color: <%= bgcolor %>;
  	 }
  	</style>
  </head>
  <body>
    <p>
      <%=cheat%>
      <br/>
      You have <%=guesses%> guesses remaining
      <br/>
      
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
    	<%= message %>
    </p>
  </body>
</html>